<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include 'blocks/header.html' %}
      <p>User: {{ curr_user.username }}</p>
      <p>Player: {{ user }}</p>
      <div class="">
        <form class="" action="{% url 'create_list_page' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ CreateListForm.as_p }}
          <input type="submit" name="" value="Добавить список">
        </form>
      </div>
    {% include 'blocks/footer.html' %}
  </body>
</html>
